<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Home</title>
</head>
<body>
  <div th:insert="menu"></div>
  <h1>Only logged in users can see this page.</h1>
  <h3 style="color:red;" th:text="${message}"></h3>
  <h1>Employees</h1>
  <a href="/new">Adds a new employee</a>
  <br/><br/>
  <div><table>
      <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Age</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="employee : ${employees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.name}"></td>
          <td th:text="${employee.address}"></td>
          <td th:text="${employee.age}"></td>
          <td>
              <a th:href="@{'/edit/'+${employee.id}}">Edit</a>&nbsp;&nbsp;&nbsp;
              <a th:href="@{'/delete/'+${employee.id}}">Delete</a>
          </td>
      </tr>
      </tbody>
  </table>
  </div>

</body>
</html>
